a(href="/", title=homeLogo, class="btnHomeLogo")
  span= homeLogo
  svg(class="symbol")
    title= homeLogo
    desc= homeLogoDesc
    use(xlink:href="#icon-logo_moneris_symbol")
  svg(class="symbol symbolHover")
    title= homeLogo
    desc= homeLogoDesc
    use(xlink:href="#icon-logo_moneris_symbol_hover")
  svg(class="fullLogo")
    title= homeLogo
    desc= homeLogoDesc
    use(xlink:href="#icon-logo_moneris_full")
  svg(class="fullLogo fullLogoHover")
    title= homeLogo
    desc= homeLogoDesc
    use(xlink:href="#icon-logo_moneris_full_hover")