div(class="homepage_video_fca")
  div(class="fcWrapper")
    div(class="textLinks")
      h1= hfcH1
      p(class="fcaSub")= fcaSub
      a(href="", title=hfc, class="bigTealCta")
        span(class="text") #{hfc}&nbsp;<span class="icon-chevron_right_bold"></span>
    img(src="/assets/Moneris/images/static/homepage_featured_content_bg.jpg" alt=hfcAlt, class="image")